**Type Conversions -> Data type Conversions**

- `int -> float and int -> str`
- `float -> int and float -> str `
- `str -> int and str -> float `

In [16]:
a = '156'
b = float(a)
b

156.0

In [2]:
# int -> float

a = 22 # save in the Memory
print(a) # calling from Memory
print(type(a)) #calling and checking the data type

b = float(a) # actual conversions happends here
print(b) # calling from memory
print(type(b)) # calling and chekcing the data type

22
<class 'int'>
22.0
<class 'float'>

In [6]:
a = 22
b = str(a)
print(b)

22

In [7]:
# int -> float

a = 22 # save in the Memory
print(a) # calling from Memory
print(type(a)) #calling and checking the data type

b = str(a) # actual conversions happends here
print(b) # calling from memory
print(type(b)) # calling and chekcing the data type

22
<class 'int'>
22
<class 'str'>

In [8]:
# float -> int

a = 22.55 # save in the Memory
print(a) # calling from Memory
print(type(a)) #calling and checking the data type

b = int(a) # actual conversions happends here
print(b) # calling from memory
print(type(b)) # calling and chekcing the data type

22.55
<class 'float'>
22
<class 'int'>

In [9]:
# float -> str

a = 22.55 # save in the Memory
print(a) # calling from Memory
print(type(a)) #calling and checking the data type

b = str(a) # actual conversions happends here
print(b) # calling from memory
print(type(b)) # calling and chekcing the data type

22.55
<class 'float'>
22.55
<class 'str'>

In [10]:
# str -> int

a = 'kamal'
print(a)
print(type(a))

b = int(a)
print(b)
print(type(b))

kamal
<class 'str'>

ValueError: invalid literal for int() with base 10: 'kamal'

In [11]:
# str -> int

a = 'kamal123'
print(a)
print(type(a))

b = int(a)
print(b)
print(type(b))

kamal123
<class 'str'>

ValueError: invalid literal for int() with base 10: 'kamal123'

In [12]:
# str -> int

a = '123'
print(a)
print(type(a))

b = int(a)
print(b)
print(type(b))

123
<class 'str'>
123
<class 'int'>

In [13]:
# str -> float

a = 'kumar'
print(a)
print(type(a))

b = float(a)
print(b)
print(type(b))

kumar
<class 'str'>

ValueError: could not convert string to float: 'kumar'

In [14]:
# str -> float

a = 'kumar123'
print(a)
print(type(a))

b = float(a)
print(b)
print(type(b))

kumar123
<class 'str'>

ValueError: could not convert string to float: 'kumar123'

In [15]:
# str -> float

a = '156.99'
print(a)
print(type(a))

b = float(a)
print(b)
print(type(b))

156.99
<class 'str'>
156.99
<class 'float'>

**print Conditions**

`to create the relation with <str and int> | <str and float> inside the print condition `

`step:1 -> Using comma (,) where , will give us one tab space => only 10% developers will use`

`Step:2 -> Using (+) -> it will not give one tab space and + will create the relation with str only  `

`step: 3 -> using identifiers %d-> int %f float %s string `

`step: 4 -> using f and {}`

In [19]:
print('My name is Ajay and My age is 27')

My name is Ajay and My age is 27

In [20]:
f = 27 # save in the Memory

print('My name is Ajay and My age is',f)

My name is Ajay and My age is 27

In [25]:
course = 'data science'
time = 6
duration = 1.30

# expected output: I am learning data science study in vihara tech for 6 months
                   # with 1.5 hours duration daily

print('I am learning',course,'study in VT for',time,'months with',duration,'hours duration daily')

I am learning data science study in VT for 6 months with 1.3 hours duration daily

In [28]:
# +

f = 27 # save in the Memory

print('My name is Ajay and My age is '+str(f))

My name is Ajay and My age is 27

In [29]:
course = 'data science'
time = 6
duration = 1.30

# expected output: I am learning data science study in vihara tech for 6 months
                   # with 1.5 hours duration daily

print('I am learning '+course+' study in VT for '+str(time)+' months with '+str(duration)+' hours duration daily')

I am learning data science study in VT for 6 months with 1.3 hours duration daily

In [31]:
# identifiers

f = 27 # save in the Memory

print('My name is Ajay and My age is %d'%(f))

My name is Ajay and My age is 27

In [32]:
course = 'data science'
time = 6
duration = 1.30

# expected output: I am learning data science study in vihara tech for 6 months
                   # with 1.5 hours duration daily
print('I am learning %s study in VT for %d months with %f hours duration daily'%(course,time,duration))

I am learning data science study in VT for 6 months with 1.300000 hours duration daily

In [33]:
course = 'data science'
time = 6
duration = 1.30

# expected output: I am learning data science study in vihara tech for 6 months
                   # with 1.5 hours duration daily
print('I am learning %s study in VT for %d months with %f hours duration daily'%(duration,time,course))

TypeError: must be real number, not str

In [35]:
# f and {}

f = 27 # save in the Memory

print(f'My name is ajay and my age is {f}')

My name is ajay and my age is 27

In [36]:
course = 'data science'
time = 6
duration = 1.30

# expected output: I am learning data science study in vihara tech for 6 months
                   # with 1.5 hours duration daily


print(f'I am learning {course} in VT for {time} with {duration} hours duration daily')

I am learning data science in VT for 6 with 1.3 hours duration daily

In [37]:
a = 10
b = 20
print(a + b)

30

In [38]:
a = 10
b = 20

print(f'Value of a is {a} and value of b is {b} and there sum is : {a+b}')

Value of a is 10 and value of b is 20 and there sum is : 30